* {
    margin: 0;
    padding: 0;
}

header,
footer {
    height: 20vh;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 60vh;
    display: flex;
}

article {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: cyan;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: palevioletred;
    display: flex;
    align-items: center;
    float: left;
    padding: 20px;
    height:692px;
    width: 100px;
}
